{% include "django/forms/widgets/select.html" %}
<script type="text/javascript">
    (function($) {
        $(document).ready(function(){
            var id = "{{ js_parent_field_id }}";
            var parent_field = $('#'+id);
            parent_field.addClass('chained-parent-field');
            var chained_ids = parent_field.attr('chained_ids');
            if(chained_ids == null && chained_ids !== "")
                parent_field.attr('chained_ids', "{{ js_chained_id }}");
            else
                parent_field.attr('chained_ids', chained_ids + ",{{ js_chained_id }}");

            parent_field.on('change', function() {
                $(this).loadAllChainedChoices();
            });
        });
    })(jQuery || django.jQuery);
</script>
